lorem.txt
storage/
export/
local-cms.zip
_export-themes/
_export-plugins/
_port-themes/
_port-plugins/
_dump/

# themes
# Ignore everything in themes
themes/

# But keep themes relevant to repo
!themes/local-builder/
!themes/default/
